<h2>Total dishes found: <%= @total_dishes %></h2><br>

<% @dishes.each do |dish| %>
  <h3><%= dish.description %></h3>
  <h3><%= dish.owner %></h3>
  <p><%= dish.id %></p>
  <p><%= dish.ingredients %></p><br>
<% end %>
